.background
{
    background-image: url(../images/background/activities.jpg);
    background-color: black;
	background-position: absolute;
	background-repeat: no-repeat;
	color: white;
}


/* SUBLOGO */ /* SUBLOGO */ 
.logo2 {
    width: 40%;
    padding: 1%;
    margin-left: 30%;
    margin-top: 4%;
}
/* SUBLOGO */ /* SUBLOGO */ 


/* CONTENT IMAGES */ /* CONTENT IMAGES */ 
.logo3 {
    width: 40%;
    padding: 1%;
    margin-left: 6.5%;
    margin-top: 4%;
}
/* CONTENT IMAGES */ /* CONTENT IMAGES */ 

.storybody
{
    position: relative;
    background-color: rgb(0, 0, 0, 0.6);
    border-radius: 20px;
    margin-bottom: 2%;
    width: 80%;
    padding: 15px;
    margin-left: 10%;
    font-size: 2rem;
    text-align: center;
    box-shadow: 0px 0px 10px rgb(102, 255, 255);
    border-radius: 10px;
}


/* BACK TO TOP */
.backtotop
{
    position: relative;
    justify-content: center;
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 5%;
    width: 100%;
    font-weight: bold;
    box-shadow: 0px 0px 5px rgb(102, 255, 255);
    border-radius: 10px;
}

.backtotop:hover
{
    background-color: rgb(102, 255, 255);
    box-shadow: 1px 1px 15px rgb(102, 255, 255);
}
/* BACK TO TOP */


/* INTERNAL LINKS */ 
.internalinks {
    position: relative;
    width: 20%;
    padding: 0px 100px 0px 100px;
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 14%;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    box-shadow: 0px 0px 5px rgb(102, 255, 255);
    border-radius: 10px;
}

                        .internalinks:hover
                        {
                            background-color: rgb(102, 255, 255);
                            box-shadow: 1px 1px 15px rgb(102, 255, 255);
                        }
/* INTERNAL LINKS */ 

.footer {
	position: relative;
	text-align: center;
	margin-top: 4%;
	margin-bottom: 2%;
	margin-left: 1%;
	font-size: 20px;
}

@media only screen and (max-width: 919px) {
	.logo2 {
		width: 80%;
		margin-left: 10%;
    }
	
    .internalinks {
		padding: none;
		width: auto;
		margin: auto;
	}
}

@media only screen and (min-width: 870px) {
    .internalinks {
        padding: 0px;
    }
}

@media only screen and (max-width: 757px) {
	.logo2 {
		width: 80%;
		margin-left: 10%;
    }
    
    .logo3 {
		width: 80%;
		margin-left: 10%;
	}

	.internalinks {
		padding: none;
		width: auto;
		margin: auto;
	}
}

@media only screen and (max-width: 575px) {
	.logo2 {
		width: 80%;
	}

}