*
{
	font-family: AgencyFB, Arial, Helvetica, sans-serif;
}
 body {
	 overflow-x: hidden;

 }

 @font-face {
	font-family: AgencyFB;
	src: url(../font/AgencyFB.ttf);
  }


  a:visited{
	color: white;
}

a:link{
	color: white;
}

a:visited{
	color: white;
}


a:hover {
    color:white;
    text-decoration: none;
}

  a, a:hover
{
	color: white;
	text-decoration: none;
}

.logo
{
	width: 40%;
	align-self: center;
	margin-top: 5%;
}

.box {
	box-shadow: 0px 0px 5px rgb(102, 255, 255, 0.2);
	padding-top: 1rem;
}

.splash
{
	text-align: center;
	font-size: 2rem;
	background-color: rgb(0, 153, 153, 0.2);
	box-shadow: 0px 0px 5px rgb(102, 255, 255);
	border-radius: 10px;
}

.splash2:hover{
	background-color: rgb(102, 255, 255);
}

.backtotop {
	font-weight: bold;
	margin-top: 2%;
}

.header {
	margin-top: 10%;
	font-size: 4rem;
	font-weight: bold;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}


/* SUBHEADER */ /* SUBHEADER */ /* SUBHEADER */ /* SUBHEADER */ 
.aboutheader {
	background-color: rgb(102, 255, 255, 0.9);
	width: fit-content;
	margin-left: 1rem;
	padding: 0.2rem;
	font-size: 30px;
}
/* SUBHEADER */ /* SUBHEADER */ /* SUBHEADER */ /* SUBHEADER */ 

.menu
{
	margin-top: 5%;
}


div[class*=" menu-item-"]
{
	font-weight: bold;
	padding-top: 2%;
	padding-bottom: 2%;
}

div[class*=" menu-item-"]:hover
{
	background-color: rgb(102, 255, 255);
}

.dropdown-content
{
	display: none;
}

.dropdown-top:hover .dropdown-content
{
	display: block;
}

.dropdown-top:hover div[class*=" menu-item-"]
{
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.dropdown-item
{
	width: auto;
	color: white;
	border-radius: 0;
	box-shadow: 0px 0px 5px rgb(102, 255, 255);
	background-color: rgb(0, 0, 0, 0.3);;
}

div[class*=" dropdown-item-bottom-"]
{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.dropdown-item:hover
{
	background-color: rgb(102, 255, 255);
	box-shadow: 1px 1px 15px rgb(102, 255, 255);
}

@media only screen and (max-width: 575px){

	.header {
        font-size: 2rem;
	} 
	
	.menu-item-2, .menu-item-3, .menu-item-4, .menu-item-5
	{
		border-radius: 0;
	}

	.menu-item-1
	{
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	.menu-item-6
	{
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	.dropdown-content .dropdown-item-bottom-1
	{
		border-radius: 0;
	}
}

@media only screen and (max-width: 767px){
	.menu-item-3, .menu-item-4
	{
		border-radius: 0;
	}

	.menu-item-1, .menu-item-2
	{
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	.menu-item-5, .menu-item-6
	{
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	.dropdown-content .dropdown-item-bottom-1
	{
		border-radius: 0;
	}
}

@media only screen and (max-width: 991px){

	.menu-item-1, .menu-item-2, .menu-item-3
	{
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	.menu-item-4, .menu-item-5, .menu-item-6
	{
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	.dropdown-content .dropdown-item-bottom-1
	{
		border-radius: 0;
	}
}

@media only screen and (min-width: 991px){

	.dropdown-item{
		position: relative;
	}

	.dropdown-content{
		position: absolute;
		padding-right: 30px;
		width: 100%;
		z-index: 1;
	}

}